.about-theater {
  text-align: center;
}

.sub-title {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 21px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.theater {
  margin-top: 60px;
}

.about-theater .description {
  line-height: 1.5;
  margin-top: 40px;
}

.about-theater .title {
  padding-top: 80px;
}

.number {
  margin-top: 27px;
}

.about-svg-list {
  margin-top: 40px;
  text-align: center;

  & svg {
    fill: #ffffff;
  }

  & p {
    font-family: "Open Sans Condensed";

    font-weight: 700;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.05em;

    margin-top: 15px;
  }
}

.carousel {
  margin-top: 60px;
  margin-bottom: 75px;
}

@media (max-width: 575px) {
  .about-svg-list {
    align-items: center;
    & li:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

@media (min-width: 576px) {
  .about-svg-list {
    display: flex;
    justify-content: center;

    & li:not(:last-child) {
      margin-right: 50px;
    }
  }
}

@media (min-width: 768px) {
  .about-theater .title {
    padding-top: 90px;
  }
  .about-theater-wrapper {
    display: flex;
  }
  .about-theater-first-item {
    width: 445px;
    text-align: left;
    margin-right: 30px;
  }
  .about-theater-second-item .sub-title {
    margin-top: 60px;
  }
  .about-svg-list {
    flex-direction: column;
    align-items: center;
    & li:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 25px;
    }
  }
  .carousel {
    margin-bottom: 90px;
  }
}

@media (min-width: 992px) {
  .about-theater .title {
    padding-top: 150px;
  }
  .theater {
    margin-top: 100px;
  }
  .about-theater-second-item .sub-title {
    margin-top: 100px;
  }
  .carousel {
    margin-top: 100px;
    margin-bottom: 150px;
  }
}

@media (max-width: 1919px) {
  .about-theater-image {
    display: none;
  }
}

@media (min-width: 1920px) {
  .about-theater-image {
    margin-top: 100px;
    margin-left: 70px;
  }
}
