.best-theater {
  position: relative;
  // height: 550px;
  background-image: linear-gradient(
      rgba(51, 51, 51, 0.85),
      rgba(51, 51, 51, 0.85)
    ),
    url(../image/best-theatre.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  & .list {
    // padding-top: 126px;
    // padding-bottom: 126px;
    text-align: center;
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 72px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #d1a954;
  }
}

.best-theater-svg {
  height: 24px;
  margin-top: 80px;
}

.best-theater .list {
  text-align: center;
}

.best-theater-desc {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 25px;
  line-height: 1.5;
  margin-top: 40px;
  padding-bottom: 80px;
  //   text-align: center;
  //   width: 330px;
}

.best-theater-container {
  margin-top: 40px;
}

.theater-partners .title {
  margin-top: 80px;
}

@media (min-width: 576px) {
  .best-theater-svg {
    position: absolute;
    left: 180px;
    top: 190px;
  }
  .best-theater-container {
    display: flex;
  }
  .best-theater-desc {
    position: absolute;
    margin-top: 239px;
    margin-left: 180px;
    text-align: left;
    width: 330px;
  }
}
