/* Стили для всего документа */
.container-box {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: 550px) {
    width: 550px;
  }

  @media (min-width: 730px) {
    width: 730px;
  }

  @media (min-width: 1150px) {
    width: 1150px;
  }
}
