.header {
  position: relative;
  background-image: linear-gradient(
      rgba(51, 51, 51, 0.85),
      rgba(51, 51, 51, 0.85)
    ),
    url(../image/conference.jpg);
  background-size: cover;
  background-position: center;

  height: 600px;
}
.header-nav {
  // position: absolute;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.header-nav-list {
  display: none;
}

.header-nav-svg {
  // display: none;
  width: 40px;
  height: 40px;
  z-index: 1001000;
  fill: #ffffff;
  cursor: pointer;

  &:hover {
    fill: #d1a954;
    transition: 0.4s;
  }
}

.nav-phone {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 2px solid #d1a954;
  width: 120px;

  // margin-left: 215px;
}

.header-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  // font-size: 63px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 107px;
}

.header-description {
  line-height: 1.5;
  margin-top: 50px;
  white-space: normal;
  // width: 300px;
}

.header-btn {
  width: 160px;
  height: 50px;
  background-color: #d1a954;

  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-top: 49px;
}

@media (max-width: 767px) {
  .header-nav {
    // display: flex;
    // justify-content: space-between;
    align-items: center;
  }
}
