.our-performance {
  text-align: center;
}

.our-performance .title {
  margin-top: 80px;
}

.our-performance-el {
  height: 550px;
  width: 442px;
}

.large-container {
  margin-left: 150px;
}

.our-performance-el:hover,
.our-performance-el:focus {
  .our-performance-text {
    opacity: 0;
    transition: 400ms;
  }
  .our-performance-date {
    opacity: 0;
    transition: 400ms;
  }
}

@media (max-width: 767px) {
  .our-performance-carousel {
    margin-top: 60px;
  }
}

@media (min-width: 768px) {
  .our-performance .title {
    margin-top: 90px;
  }
  .our-performance-carousel {
    margin-top: 100px;
  }

  .our-performance-el {
    height: 550px;
    width: 442px;
  }
}

@media (min-width: 992px) {
  .our-performance .title {
    margin-top: 150px;
  }
}

@media (min-width: 1920px) {
  .carousel {
    display: none;
  }
  .trial-carousel {
    margin-left: 150px;
    margin-top: 100px;
  }
  .front-carouse-element {
    height: 550px;
  }
}
