.our-patrons {
  .title {
    margin-top: 80px;
    text-align: center;
  }
  .description {
    font-size: 12px;
    line-height: 1.5;
    max-width: 435px;

    color: #989898;
  }
  .btn {
    margin-top: 40px;
  }
  input {
    display: block;
    background: #444444;
    border-style: solid;
    border-width: 1px;
    width: 230px;
    height: 35px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    align-items: center;
    padding-left: 15px;

    color: #989898;
  }
}

.our-patrons-list {
  margin-top: 60px;
}

.our-patrons-textarea {
  margin-top: 30px;
  background: #444444;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  width: 100%;
  height: 100px;
  color: #ffffff;
  padding-left: 15px;
  padding-top: 10px;
}

.adress {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.underfooter {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid #565656;
  color: #989898;
}
.our-performance-el {
  position: relative;
}
.our-performance-el::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85));
}

.our-performance-el:hover,
.our-performance-el:focus {
  &::after {
    opacity: 0;
    transition: 400ms;
    transition-delay: 400ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  .our-performance-btn {
    opacity: 1;
    transition: 400ms;
    transition-delay: 400ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
}

.our-performance-text {
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.our-performance-date {
  position: absolute;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: left top;
  top: 500px;
  left: 40px;
}

.our-performance-btn {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #d1a954;
  border-radius: 50%;
  position: absolute;
  top: 225px;
  left: 171px;
  opacity: 0;
  cursor: pointer;
}

.our-performance-svg {
  position: absolute;
  fill: white;
  width: 30px;
  height: 30px;
  top: 35px;
  left: 35px;
}

// &::before {
//   transition: 600ms;
//   transition-delay: 400ms;
//   display: block;
//   background: url(../image/sprite.svg#search);
// }
// &::after {
//   opacity: 0;
//   transition: 600ms;
// }

@media (max-width: 575px) {
  .our-patrons-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-patrons-list li:not(:last-child) {
    margin-bottom: 30px;
  }
  .adress {
    margin-top: 50px;
  }
  .phone-list li:not(:last-child) {
    margin-bottom: 25px;
  }
  .adress-list {
    margin-top: 25px;
  }
  .adress-list li:not(:last-child) {
    margin-bottom: 25px;
  }
  .underfooter {
    max-width: 504px;
    text-align: center;
    .developer {
      padding-bottom: 30px;
      margin-top: 20px;
    }
  }
}

@media (min-width: 576px) {
  .our-patrons-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & li:nth-child(odd) {
      margin-right: 49px;
    }
  }
  .our-patrons-textarea {
    margin-left: auto;
    margin-right: auto;
    max-width: 509px;
    display: block;
  }
  .our-patrons-list li:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .adress {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  .phone-list li:last-child {
    margin-top: 25px;
  }
  .adress-list {
    text-align: end;
  }
  .adress-list li:last-child {
    margin-top: 25px;
  }
  .underfooter {
    display: flex;
    justify-content: space-between;
    p {
      padding-bottom: 30px;
    }
  }
}

@media (max-width: 767px) {
  .our-patrons {
    text-align: center;
    .description {
      margin-top: 30px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (min-width: 768px) {
  .our-patrons .btn {
    margin-top: 0px;
  }
  .our-patrons .title {
    margin-top: 90px;
  }
  .our-patrons .description {
    width: 390px;
  }
  .our-patrons-list {
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
    & li:nth-child(odd) {
      margin-right: 30px;
    }
  }
  .our-patrons-list input {
    width: 180px;
  }
  .our-patrons-wrapper {
    display: flex;
  }
  .our-patrons-textarea {
    margin-top: 60px;
    max-width: 270px;
  }
  .description-wrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .adress {
    margin-top: 60px;
  }
}

@media (min-width: 1920px) {
  .adress {
    flex-direction: column;
    align-items: flex-start;
  }
  .adress-list {
    margin-top: 25px;
    text-align: start;
  }
  .footer-wrapper-first {
    width: 730px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
