.slider-element {
  margin-bottom: 80px;
  margin-top: 60px;
  & img {
    width: 200px;
    height: 97px;
  }
  & .first {
    margin-bottom: 80px;
  }
}

.theater-partners .title {
  text-align: center;
  margin-bottom: 60px;
}

.carousel-item {
  .first {
    width: 200px !important;
    margin-right: auto;
    margin-left: auto;
  }
  .second {
    width: 200px !important;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .large-slider {
    display: none;
  }
  .carousel {
    margin-top: 50px;
  }
  .carousel {
    margin: 0;
  }
  .carousel-item .first {
    margin-bottom: 60px;
  }
}
